/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos generales*/

body {
    background-color: #f6ede2;
    font-family: Roboto;
    min-height: 100vh; /* Para que ocupe la pantalla */
    display: flex;
    flex-direction: column; 
}

.estado-activo{
    font-weight: bolder;
}

/* estilos mobile */

header .descripcion{
    background-color: #563008;
    color: white;
    text-align: center;
    font-size: small;
    padding: 0.5rem;
    position: relative;
}

header .menu{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin: 0.5rem;
}

header img{
    width: 10%;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center
}

header nav ul li a{
    text-decoration: none;
    color: #563008;
    font-size: small;
}

/* Estilos del main */
main {
    flex: 1; /* Para que el main ocupe todo el espacio restante */
    row-gap: 2rem;
}

main .intro {
    display: flex;
    flex-direction: column;
    background-color: #F0AB0F;
    color:#563008;
    padding: 1.5rem;
    gap: 1rem;
    margin-bottom: 2rem; /* Espacio entre secciones */
}

main section p{
    text-align: center;
}

main h1{
    color: #563008;
    text-align: center;
}

main h2{
    color: #563008;
    text-align: center;
}

main section img{
    width: 60%;
    height: auto;
}

main .recientes{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color:whitesmoke;
    color:#563008;
    padding: 1.5rem;
    margin-bottom: 2rem; /* Espacio entre secciones */
}

.recientes a{
    text-decoration: none;
    font-weight: bold;
    color: palevioletred;
}

main .favs{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color:white;
    color:#563008;
    padding: 1.5rem;
    margin-bottom: 2rem; /* Espacio entre secciones */

}

.favs a{
    text-decoration: none;
    font-weight: bold;
    color: #F0AB0F;
}

.informacion-extra{
    display: none;
}

main .tienda{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color:white;
    color:#563008;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.tienda a{
    text-decoration: none;
    font-weight: bold;
    color: palevioletred;
}

.video-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 30vh;
    background-color: #f0f0f0;
}
video {
    max-width: 100%; 
    height: auto; 
}


/* Estilos de footer */
footer{
    text-align: center;
    background-color: #563008;
    color: white;
    position: relative;
    padding: 0.5rem;
    font-size: small;
}

/* Estilos tablet */

@media screen and (min-width:600px) {


    header .menu{
        justify-content: space-around;
    }

    header .descripcion{
        font-size: larger;
    }

    header img{
        width: 15%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,auto) ;
    }

    main .intro{
        grid-column: span 2;
    }

    main section img{
        width: auto;
        height: 15vh;
        align-items: center;
        margin-bottom: 1rem;
    }

    main section a{
        margin-top: 1rem;
    }

    main h1{
        grid-column: span 2;
    }

    

    header nav ul li a{
        font-size: large;
    }

    .informacion-extra{
        display: grid
    }

    main .informacion-extra{
        grid-column: span 2;
        background-color: #A0887C;
        padding-top: 1rem;

    }

    main .informacion-extra h2{
        color: black;
    }

    main .informacion-extra img{
        width: 100%;
        height: auto;
        padding: 4rem;
    }

    footer{
        font-size: large;
    }

}

   

/* Estilos desktop */
@media screen and (min-width:1024px){

    header .descripcion{
        font-size: small;
    }


    header img{
        width: 10%;
    }

    header .menu{
        justify-content: space-between;
        height: 10vh;
        padding-right: 50px;
        padding-left: 50px;
    }

    header .menu nav ul li{
        padding-left: 4rem;
    }


}

    /*main .img-dos, main .img-cinco{
        display:block;
    }

    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 30% 20%;
    }

    main .img-uno, main .img-tres{
        grid-row:span 2;
    }

    main .img-dos, main .img-cuatro{
        grid-column: span 1;
    }

    main .img-cinco{
        grid-column: span 3;
    }

 */
